/*page style*/
html {
    background-image: url("developer1.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/*title and body style*/
.tag {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main {
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*button style*/
.button {
  background-color: darkblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonHolder{ text-align: center; }
