/*INDEXSTYE.CSS stylesheet*/

/*profile pic style*/
.profile-picture {
  width: 300px;
  border: 20px solid black;
  margin: 20px;
}


/*background style*/
html, body {
  background-image: url("backgroundimg.jpg");
  background-position: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  color: white;
}


/*left side name and subtitle style*/
.name {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  text-shadow: 5px 5px 10px black
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-shadow: 5px 5px 10px black
}


/*full page style*/
.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left, .right {
  margin: 0px;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex;
}

.left {
  line-height: 0;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.right {
  align-items: center;
  justify-content: center;
  text-align: center;
}


/*right side style*/
.bio {
  font-size: 20px;
}

p {
  margin: 25px 100px 75px 50px;
}

.SL-description {
    font-size: 20px;
}

.social-links {
  list-style: none;
  padding-left: 0px;
  font-size: 30px;
}

.social-links li {
  display: inline-block;
  margin-right: 8px;
}

.social-links a {
  text-decoration: none;
  padding: 4px;
  color: white;
  background-color: darkblue;
  width: 300px;
}

.social-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.howto {
  list-style: none;
  padding-left: 0px;
  font-size: 30px;
}

.howto li {
  display: inline-block;
  margin-right: 8px;
}

.howto a {
  text-decoration: none;
  padding: 4px;
  color: blue;
  background-color: white;
  width: 300px;
}

.howto a:hover {
  background-color: black;
}


/*javascipt date time top event style
- set as a div element first -
then scrolled when page opens*/
.datetime {
  color: white;
  text-align: center;

  /* side scrolling Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: datetime 15s linear infinite;
 -webkit-animation: datetime 15s linear infinite;
 animation: datetime 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes datetime {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes datetime {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes datetime {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}
</style>
}
