html {
  overflow-y: scroll;
}


.profile-picture {
  width: 300px;
  border: 20px solid black;
  margin: 20px;
  /*profile pic settings*/
}

html, body {
  background-image: url("backgroundimg.jpg"); /*background settings*/
  background-position: center;


  height: 100%;
  margin: 0px;
  padding: 0px;

  font-family: 'Roboto', sans-serif;
  color: white;
}

.name {
  /*font settings*/

  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  text-shadow: 5px 5px 10px black
}

.subtitle {
  /*font settings*/
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-shadow: 5px 5px 10px black
}

.wrapper {
  /*create wrapper to make two columns for page*/
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left, .right {
  /*setting left and right column attributes*/
  margin: 0px;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex;
}

.left {
  line-height: 0;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.right {
  align-items: center;
  justify-content: center;
  text-align: center;


}

.bio {
  /*right column bio setting font size*/
  font-size: 20px;
}

p {
  /*right column again paragrap margins*/
  margin: 25px 100px 75px 50px;
}

.SL-description {
    font-size: 20px;
}

/*social links settings*/
.social-links {
  list-style: none;
  padding-left: 0px;
  font-size: 30px;
}

.social-links li {
  display: inline-block;
  margin-right: 8px;
}

.social-links a {
  text-decoration: none;
  padding: 4px;
  color: white;
  background-color: darkblue;
  width: 300px;
}

.social-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*how to develop this site settings*/
.howto {
  list-style: none;
  padding-left: 0px;
  font-size: 30px;
}

.howto li {
  display: inline-block;
  margin-right: 8px;
}

.howto a {
  text-decoration: none;
  padding: 4px;
  color: blue;
  background-color: white;
  width: 300px;
}

.howto a:hover {
  background-color: black;
}
